html {
    font-size: 16px;
}

body {
    font-family: "Nanum Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: #fff;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin-top: 0;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
}

/* ---------------*/
/* Card Container */
/* ---------------*/
.card-container {
    display: flex; 
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 1;
    perspective: 1000px;
}

.card-box {
    display: flex; 
    flex-direction: row;
    position: relative;
    max-width: 1100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card {
    height: 350px;
    width: 350px;
    margin: 5px;
    background-color: #EFEFEF;  
    border: none;
    transform-style: preserve-3d;
    transition: all .7s linear;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 1100px) {
    html, body {
        height: auto;
    }
    
    .card-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card-box {
        flex-direction: column;
    }
}

/* ----------*/
/* Card Body */
/* ----------*/

/* Card Sides */
.side {
    position: absolute; 
    overflow: hidden;
    backface-visibility: hidden;
}

/* Frontside */
.front-side {
    height: 100%;
    width: 100%;
}

.front-text {
    position: relative; 
    top: 40%; bottom: 0;
    left: 40%; right: 0;
    margin: auto;
    color: #EFEFEF;
}

.about-front {
    background: linear-gradient(
        rgba(0,0,0, 0.3),
        rgba(0,0,0,0.3)), url('./images/corgi.jpg');
    background-size: cover;
}

.skills-front {
    background: linear-gradient(
        rgba(0,0,0, 0.5),
        rgba(0,0,0,0.5)), url('./images//cat.jpg');
    background-size: cover;
}

.hobby-front {
    background: linear-gradient(
        rgba(0,0,0, 0.5),
        rgba(0,0,0,0.5)), url('./images/dog.jpg');
    background-size: cover;
}

/* Backside */
.back-side {
    height: 100%;
    width: 100%;
    z-index: 2; 
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);
}

.back-text {
    position: relative; 
    top: 40%; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Flipping Card */
.card:hover {
    transform: rotateY(180deg);
}

.card:hover > .front-side {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility .75s linear;
}

/* Social Links */
.social-links {
    padding: 0;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-links li:nth-of-type(n+2) {
    margin-left: 24px;
}

.social-links a {
    color: #212121;
    transition: opacity .25s ease-in;
}

.social-links:focus:hover {
    opacity: .5;
}

.social-links i {
    font-size: 30px;
}